RewriteEngine On
RewriteRule ^modif-utilisateur$ controllers/user/modify/modifyUserCtrl.php
RewriteRule ^espace-administrateur$ controllers/admin/adminCtrl.php
RewriteRule ^modification-utilisateur$ controllers/admin/modify/modifyUserAdminCtrl.php
RewriteRule ^modification-vehicule$ controllers/admin/modify/modifyVehicleAdminCtrl.php
RewriteRule ^modification-agence$ controllers/admin/modify/modifyAgencieAdminCtrl.php
RewriteRule ^paiement$ controllers/locationCtrl.php
RewriteRule ^modif-location-utilisateur$ controllers/user/modify/modifyLocationUserCtrl.php
RewriteRule ^modif-location-utilisateur-by-admin$ controllers/admin/modify/modifyLocationUserAdminCtrl.php
RewriteRule ^espace-utilisateur$ controllers/user/userDashboardCtrl.php


