@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@500&family=Tomorrow:wght@300;500&display=swap');

*::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
    text-decoration: none;
}

:root {
    --black: #1B1B1B;
    --white: #f1f1f1;
    --grey: rgb(125, 125, 125);
    --swiper-theme-color: #1B1B1B;
}

body {
    background: var(--white);
}

main {
    min-height: calc(100vh - 65px - 100px);
}

header {
    height: 86px;
}

.navbar {
    height: 86px;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
    margin-bottom: 10%;
}

.connexion {
    padding-top: 5%;
}

.card-reserve {
    top: -70px;
    left: 80%;
    right: 30%;
}

.form-container {
    height: auto;
}

/*--HERO BANNER--*/

.hero-banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 75px);
    background: url("/public/assets/img/accueil-van.jpeg") no-repeat center;
    background-size: cover;
}

.card {
    background-color: var(--white);
}

.card select,
.card input {
    background-color: var(--white);
}

.title {
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

/*----- TITRE PRINCIPALE-----*/
h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 900;
}

/*----- CONTENU -----*/
.presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome {
    text-align: center;
    width: 70%;
    color: var(--black);
}

h2,
h3 {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 900;
    color: var(--black);
    text-align: center;
    font-size: 40px;
}

h5 a {
    font-weight: 600;
    font-size: 25px;
    color: var(--black);
    text-decoration: none;
}

.paragraph-A {
    color: var(--black);
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.line-span {
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: var(--black);
    border-radius: 5px;
    margin-bottom: 5%;
}

.line {
    margin: 0 auto;
    width: 300px;
    height: 3px;
    background: var(--black);
    border-radius: 5px;
    margin-bottom: 5%;
}


/*----- CARDS AGENCES - VEHICULES - AVENTURES -----*/
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-agency,
.card-adventure,
.card-vehicle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
    border-radius: 5px;
}

.A,
.B,
.C {
    filter: brightness(60%);
    width: 500px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.A {
    background-image: url("/public/assets/img/agence.jpeg");
}

.B {
    background-image: url("/public/assets/img/location-van.jpeg");
}

.C {
    background-image: url("/public/assets/img/aventures.jpeg");
}

.agency,
.vehicle,
.adventure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
    font-size: 30px;
    width: auto;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.agency:hover,
.vehicle:hover,
.adventure:hover {
    transition: all 0.3 ease-in-out;
    background: var(--white);
    color: var(--black);
}

.container-form {
    height: auto;
    text-align: center;
}

.container-connexion {
    height: 75vh;
    text-align: center;
}

.userDashboard,
.dashboardAdmin {
    height: auto;
    width: 100%;

}

.addVehicle {
    text-align: center;
}

.addUser {
    height: 70vh;
    width: 100%;
    text-align: center;
}

.addAgencie {
    height: 60vh;
    width: 100%;
    text-align: center;
}

.create {
    height: 100%;
}

.modifyUser {
    height: 65vh;
    width: 100%;
    text-align: center;
}

.modifyVehicle {
    text-align: center;
}

.modifyAgencie {
    height: 60vh;
    width: 100%;
    text-align: center;
}

/*========== CARDS PAGES ==========*/

/*========== AGENCIE PAGE ==========*/
.all-agencies p {
    margin: 5%;
    font-size: 20px;
}

.all-vehicles p {
    margin: 5%;
    font-size: 20px;
}

.two {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.list-agencies,
.list-vehicles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    margin-top: 3%;
}

.block-vehicle img {
    filter: drop-shadow(3px 3px 3px var(--black));
}

.block-agencie img {
    filter: drop-shadow(3px 3px 3px var(--black));
}

.list-agencies img {
    width: 60%;
    background-size: contain;
    border-radius: 20px;
}

.list-vehicles img {
    width: 60%;
    background-size: contain;
    border-radius: 20px;
}

.link a {
    color: var(--black);
    text-decoration: none;
}

.img-agencie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-agencie-vehicle {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

.img-card-agencie {
    width: 40%;
    height: 400px;
    border-radius: 5px;
    border: solid 1px var(--grey);
}

.img-card-vehicle {
    width: 35%;
    height: 350px;
    border-radius: 5px;
    border: solid 1px rgb(214, 213, 213);
}

.liberty {
    display: flex;
    justify-content: center;
    height: calc(100vh - 75px);
}

.liberty-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

}

.picture-liberty {
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/public/assets/img/liberty-3.jpeg");
    background-attachment: fixed;
}

.liberty-van {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    outline: none;
    font-size: 80px;
    letter-spacing: 6px;
    width: auto;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 900;
}

.check-box {
    width: 100%;
    text-align: center;
}


.check-box a {
    color: var(--black);
    text-decoration: none;
}

.user-facture{
    color: var(--white);
    text-decoration: none;
}


/*--------- FOOTER ----------*/
footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}

footer p {
    margin: 5%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

.insta,
.fbook {
    width: 40px;
    height: 40px;
}

.instagram {
    margin-right: 5px;
}

.facebook {
    margin-left: 5px;
}

/*--------- DASHBOARD ADMIN ----------*/
.slide-container {
    max-width: 1200px;
    height: auto;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 50px;
}

.slide-content {
    overflow: hidden;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-content {
    position: relative;
    row-gap: 5px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.overlay {
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    background-color: #212529;
    border-radius: 10px 10px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #212529;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-content {
    padding-bottom: 15%;
}

.card-image {
    height: 100px;
    width: 200px;
    border-radius: 30%;
    background: #FFF;
    padding: 3px;
}

.card-img-vehicle {
    height: 180px;
    object-fit: contain;
}

.card-img-agencie {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-top: 15px;
}

.name {
    font-size: 40px;
    font-weight: 900;
    color: #333;
}

.name a {
    color: var(--black);
}

.description {
    font-size: 18px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--black);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: var(--black);
}

.swiper-navBtn {
    color: var(--black);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: var(--grey);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
    color: var(--black);
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    color: var(--grey);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    color: var(--black);
}

.button a {
    color: var(--white);
    text-decoration: none;
}

.facture {
    height: 60vh;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.info-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;

}

.info-agencie {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 50%;
    height: 100%;

}


.recap {
    padding: 5px;
}

.description {
    width: 90%;
    color: var(--black);
}

.lines {
    margin: 0 auto;
    width: 200px;
    height: 1px;
    background: var(--black);
    border-radius: 5px;
    margin-bottom: 2%;
}

.comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.comment-card {
    width: 20%;
    margin: 1%;
}

.comment-user {
    width: 50%;
}

.options img {
    background-color: var(--white);
}



@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

/*--------- MEDIA QUERIES ----------*/
@media screen and (max-width: 1200px) {



    .card-reserve {
        top: -50px;
        left: 60%;
        right: 30%;
    }

    .img-card-agencie {
        width: 50%;
        height: 70%;
        border-radius: 5px;
        border: solid 1px var(--grey);
    }

    .img-card-vehicle {
        width: 50%;
        height: 70%;
        border-radius: 5px;
        border: solid 1px rgb(214, 213, 213);
    }
}


@media screen and (max-width: 900px) {


    .img-card-agencie {
        width: 60%;
        height: 80%;
        border-radius: 5px;
        border: solid 1px var(--grey);
    }

    .img-card-vehicle {
        width: 60%;
        height: 80%;
        border-radius: 5px;
        border: solid 1px rgb(214, 213, 213);
    }

    .container-connexion {
        height: 82vh;
    }

    .connexion {
        padding-top: 10%;
    }

    .card-reserve {
        top: -50px;
        left: 0;
        right: 30%;
    }

    .reserve {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20%;
    }

    /*========== CARDS PAGES ==========*/
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .card-agency,
    .card-vehicle,
    .card-adventure {
        width: 80%;
        background-size: contain;
        border-radius: 20px;
        margin-bottom: 5%;
    }

    /*========== AGENCIE PAGE ==========*/
    .all-agencies p {
        margin: 3%;
        font-size: 18px;
    }

    .all-vehicles p {
        margin: 3%;
        font-size: 18px;
    }

    .two {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    .list-agencies,
    .list-vehicles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 3%;
    }

    .list-agencies img {
        background-size: contain;
        border-radius: 20px;
    }

    .list-vehicles img {
        background-size: contain;
        border-radius: 20px;
    }

}

@media screen and (max-width: 700px) {



    .connexion {
        padding-top: 12%;
    }

    .img-card-agencie {
        width: 80%;
        height: 90%;
        border-radius: 5px;
        border: solid 1px var(--grey);
    }

    .img-card-vehicle {
        width: 80%;
        height: 90%;
        border-radius: 5px;
        border: solid 1px rgb(214, 213, 213);
    }

    .reserve {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20%;
    }

    .paragraph-A {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 25px;
    }

    /*========== CARDS PAGES ==========*/

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .card-agency,
    .card-vehicle,
    .card-adventure {
        width: 80%;
        background-size: cover;
        border-radius: 20px;
        margin-bottom: 5%;
    }

    /*========== AGENCIE PAGE ==========*/
    .all-agencies p {
        margin: 3%;
    }

    .two {
        margin-bottom: 5%;
    }

    .list-agencies,
    .list-vehicles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: 3%;
    }

    .list-agencies img {
        width: 80%;
        background-size: contain;
        border-radius: 20px;
    }

    .list-vehicles img {
        width: 80%;
        background-size: contain;
        border-radius: 20px;
    }

}


@media (max-width: 500px) {

    .container-connexion {
        height: 80vh;
    }

    .connexion {
        padding-top: 20%;
    }

    .card-reserve {
        top: -50px;
        left: 0;
        right: 30%;
    }

    .reserve {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20%;
    }

    .paragraph-A {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 25px;
    }

    /*========== CARDS PAGES ==========*/
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .card-agency,
    .card-adventure,
    .card-vehicle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 300px;
    }

    .A,
    .B,
    .C {
        filter: brightness(50%);
        width: 500px;
        height: 75%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    /*========== AGENCIE PAGE ==========*/
    .all-agencies p {
        margin: 3%;
        font-size: 15px;
    }

    .all-vehicles p {
        margin: 3%;
        font-size: 15px;
    }

    .two {
        margin-bottom: 5%;
    }

    .list-agencies,
    .list-vehicles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: 3%;
    }

    .list-agencies img {
        width: 80%;
        background-size: contain;
        border-radius: 20px;
    }

    .list-vehicles img {
        width: 80%;
        background-size: contain;
        border-radius: 20px;
    }

    .form-container {
        height: auto;
    }

    .modifyUser {
        height: auto;
        width: 100%;
        text-align: center;
    }

    .userDashboard {
        height: auto;
        width: 100%;
        text-align: center;
    }

    .addUser,
    .dashboardAdmin {
        height: auto;
        width: 100%;
        text-align: center;
    }

    .addAgencie {
        height: auto;
    }

    .modifyVehicle {
        height: 60vh;
        width: 100%;
        text-align: center;
    }

    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        margin-bottom: 10%;
    }

    .form-select-agencie {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;

    }

    .liberty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .liberty-card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;

    }

    .picture-liberty {
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/public/assets/img/liberty-3.jpeg");
        background-attachment: fixed;
        right: 50%;
    }

    .liberty-van {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        outline: none;
        font-size: 30px;
        letter-spacing: 6px;
        width: auto;
        color: var(--white);
        cursor: pointer;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px;
        font-family: 'Amatic SC', sans-serif;
        font-weight: 900;
    }

}